

.letter_field {
     display: inline-block;
     min-width: 4.4px;
     min-height: 12px;
}



.text_field {
    width: 51%;
    display: block;
    margin: 0 auto;
}

.text_field_current{
    border-bottom: 2px solid black;
}

/* .text_field */
.text_field_completed {
    color:blue;
    /* background-color: #eeffe6; */
}

/* .text_field */
.text_field_error {
    color:red;
    background-color: #f09d9d;
    border-bottom: 2px solid red;
}

/* .text_field */